{% extends 'base.html' %}

<h1>expense list</h1>

<ul class="list-group">
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>
    <li class="list-group-item">bought car</li>


</ul>